{#
/**
 * @file
 * Theme override for form actions container.
 */
#}
<div{{ attributes.addClass('flex', 'gap-4', 'justify-end', 'mt-8', 'pt-6', 'border-t', 'border-gray-200') }}>
  {{ children }}
</div>
